* {
  margin 0;
}

p {
  text-align: center;
  line-height: 100vh;
  text-transform: uppercase;
  font-size: 5vh;
  text-decoration: underline;
  font-family: 'Open Sans Condensed', sans-serif;
}
