* {
  margin: 0;
}

p {
  text-transform: uppercase;
  font-family: 'Open Sans Condensed';
  text-align: center;
  font-size: 5vh;
  text-decoration: underline;
  text-align: center;
  line-height: 100vh;
}
