* {
  margin: 0;
  padding: 0;
}

nav {
  width: 90%;
  background-color: black;
  margin: 30px auto;
  max-width: 1024px;
  padding: 0 20px;
  border-radius: 10px;
}

nav ul {
  list-style: none;
  font-size: 0;
}

nav ul li {
  display: inline-block;
  width: 20%;
}

nav ul li a {
  display: block;
  font-size: 20px;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: arial;
  padding: 20px;
  text-align: center;
}

nav ul li a:hover {
  background-color: #555;
}

section {
  height: 300px;
  background-color: #ddd;
}
